/node_modules
/.next
/out
/api/database/credentials.json
/.idea
/Graduater/.vs/Graduater/FileContentIndex/6a8f794d-ea6d-4483-80c9-fb6e7e7142c2.vsidx
/Graduater/.vs/Graduater/FileContentIndex/6a8f794d-ea6d-4483-80c9-fb6e7e7142c2.vsidx
