.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  & > div:first-child {
    width: 90%;
    background-color: var(--background_1);
    border-radius: 0.3em;
    padding: 1em;

    &>div:first-child{
        width: 99%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
        gap: .3em;
        &>h2{
            margin: 0;
            &>span{
                font-size: .8em;
                color: var(--text_2);
                opacity: .8;
                font-weight: 400;
            }
        }
        &>div{
            display: flex;
            gap: .3em;
            &>input{
                padding: .5em;
                border-radius: .3em;
                border: 0;
                border-radius: .3em;
                background-color: var(--background_2);
                font-size: 1rem;
                border: 1px solid white;
                outline: none ;
                &:hover,&:focus{
                    filter: brightness(1.3);
                }
            }
            &>button{
                width: 2em;
                height: 2em;
                background-color: var(--background_2);
                padding: .5em;
                
                &:hover{
                    filter: brightness(1.3);
                }
                &>img{
                    width: 100%;
                    height: 100%;
                }
                
            }
        }
    }

    & > table {
      & > thead {
        & > tr {
          & > th {
            font-size: large;
            text-align: left;
          }
        }
      }
      & > tbody {
        & > tr {
          background-color: var(--background_1);
          & > td:nth-child(2) {
            width: 100%;
          }
          & > td:first-child {
            padding: 0 1em 0 0;
            & > img {
              width: 2.5em;
              height: 2.5em;
              border-radius: 50%;
              border: 1px solid white;
              padding: 0.1em;
            }
          }
          & > td:last-child {
            padding: 0 0 0 0.5em;
            & > button {
              background-color: var(--background_1);
              border-radius: 50%;
              border: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 2.5em;
              height: 2.5em;

              &:hover {
                filter: brightness(1.3);
              }

              & > img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}
