.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  & > table {
    width: 80%;
    background-color: var(--background_1);
    border-radius: 0.3em;
    padding: 1em;

    & > thead {
      & > tr {
        & > th {
          font-size: large;
          text-align: left;
        }
      }
    }
    & > tbody {
      & > tr {
        background-color: var(--background_1);
        & > td:nth-child(2) {
          width: 100%;
        }
        & > td:first-child {
          padding: 0 0.5em 0 0;
          & > img {
            width: 2.5em;
            height: 2.5em;
            border-radius: 50%;
            border: 1px solid white;
            padding: 0.1em;
          }
        }
        & > td:last-child {
          padding: 0 0 0 0.5em;
          & > button {
            background-color: var(--background_1);
            border-radius: 50%;
            border: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.5em;
            height: 2.5em;

            &:hover {
              filter: brightness(1.3);
            }

            & > img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
