.assignmentcontainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
}
.assignmentcard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40vw;
  /*height: 25vh;*/
  background-color: rgb(101, 0, 101) !important;
  border-radius: 1em;
  margin-bottom: 1em;
}

.assignmentcard:hover{
  background-color: rgb(108, 17, 108) !important;
}
.assignmenthead{
  text-align: left;
  width: 100%;
  margin-left: 2em;
  padding: 0.5em;
  padding-top: 0;
}
.assignmentbody{
  padding: 0;
}
.assignmentfoot{
  text-align: right !important;
  width: 100%;
  margin-right: 2em;
  padding: .3em;
}

.descriptioncontainer{  
  width: 100vw;
}
.description{
  padding: 2em;
  padding-left: 20%;
}
.fileuploadcontainer{
  width: 100vw;
  height: 20vh;
  justify-content: center;
  align-items: center;
}
.fileuploadfield{
  border: 2px dashed red;
  width: 50%;
  transform: translate(50%,50%);
  text-align: center;
}
.fileslist{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*should be the file (button is a placeholder)*/
.fileslist button{
  margin-bottom: .5em;
}
.editButton{
  width: 80%;
}
.editButton button{
  float: right !important;
}
.edithead h1,.edithead p{
  padding-left: 15%;
}