.assignmentcontainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
}
.assignmentcard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40vw;
  /*height: 25vh;*/
  background-color: rgb(101, 0, 101) !important;
  border-radius: 1em;
  margin-bottom: 1em;
}

.assignmentcard:hover{
  background-color: rgb(108, 17, 108) !important;
}
.assignmenthead{
  text-align: left;
  width: 100%;
  margin-left: 2em;
  padding: 0.5em;
  padding-top: 0;
}
.assignmentbody{
  padding: 0;
}
.assignmentfoot{
  text-align: right !important;
  width: 100%;
  margin-right: 2em;
  padding: .3em;
}

.descriptioncontainer{  
  margin-bottom: 2em;
}
.description{
  width: 60%;
  margin-left: 20%;
  padding: 1em;
  border-radius: 1em;
  font-size: .9em;
  background-color: #181818;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
.description input{
  padding: .3em;
  margin-top: .8em;
  margin-bottom: .8em;
  outline: none;
}

.fileuploadcontainer{
  width: 100vw;
  height: 40vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.fileuploadfield{
  border: 2px dashed rgb(49, 49, 49);
  width: 50%;
  text-align: center;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fileuploadfield button{
  width: 7em;
  height: 2em;
  transform: translate(0,1em);
}

.editButton{
  width: 80%;
}
.editButton button{
  float: right !important;
}

.edithead{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.editheadContainer{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.edithead input {
  font-size: 2em;
  margin-top: .5em;
  margin-bottom: .5em;
}

.edithead p{
  color: rgb(3, 230, 3);
}


.wrapper{
  width: 45%;
  background: #181818;
  color: #fff;
  border-radius: 1em;
  padding: 2em;
}

.wrapper:hover{
  background-color: #202020;
}

.headerContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.extentionWrapper{
  display: flex;
  justify-content: right;
  width: 100%;
  height: 2.8em;
}

.wrapper header{
  color: purple;
  font-weight: 600;
  font-size: 1.6em;
  text-align: center;
}

.fileinput{
  cursor: pointer;
  margin: 1em 0;
  border-radius: .5em;
  border: 2px dashed purple;
  height: 10em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.fileinput label{
  color: rgb(255, 255, 255);
  opacity: 0.5;
}

.uploadfieldcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activedrag{
  background-color: #404040;
  color: #fff;
}

.filelistitem li{
  color: rgb(255, 255, 255);
  background-color: #606060;
  width: 100%;
  border-radius: .3em;
  margin-bottom: .3em;
  padding: .6em;
  max-height: 3em;
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.filelistitem li p{
  order: 0;
}
.cancelbutton{
  background-color: transparent;
  float: right;
  border-radius: 100%;
  
}

.cancelbutton:hover{
  background-color: #4040405b;
  order: 2;
}


.filelistitem li:hover{
  background-color: #808080;
}

.filelistitem_close{
  animation-name: filelistitem_close;
  animation: filelistitem_close .5s forwards;
}

@keyframes filelistitem_close {
  from {

    scale: 1;
  }
  to {
    scale: 0;
  }
}

.filelistitem{
  margin-bottom: .5em;
  background: #404040;
  list-style: none;
  padding: .5em .6em;
  border-radius: .5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}


.dialogwindow div{
  width: 35vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dialogwindow div input{
  border-radius: .5em;
  background-color: #404040;
  border: none;
  outline: none;
  padding: 1em;
  width: 40vh;
  margin-bottom: .5em;
  border: 2px solid transparent;
  transition: .3s;
}

.dialogwindow div input:hover{
  background-color: #636363;
}
.dialogwindow div input:focus{
  border-bottom: 2px solid rebeccapurple;
  transition: .5s;
  background-color: #636363;
}

.dialogwindow div label{
  color: black;
}

.dialogwindow button{
  float: right;
  width: 6vw;
  height: 4vh;
}



.dialogwindow{
  color: white;
  border-radius: 1em;
  background-color: rgb(255, 255, 255);
}

.closedialog{
  animation-name: dialog_close;
  animation: dialog_close .3s forwards;
}

.opendialog{
  animation-name: dialog_open;
  animation: dialog_open .3s forwards;
}

@keyframes dialog_open {
  from {

    scale: 0;
  }
  to {
    scale: 1;
  }
}

@keyframes dialog_close {
  from {
    scale: 1;
  }
  to {
    scale: 0;
  }
}

.description_editbtn{
  border-radius: .5em;
  border: 1px solid black;
  width: 10%;
}
.fiesupload_uploadbtn{
  float: right !important;
}
.fileListContainer ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
}
.fileListWrapper{
  display: flex;
  justify-content: center;
}

.descriptionSection{
  border-bottom: 1px solid rgb(0, 0, 0,.3);
}

.instrictionfileContainer ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropbtn {
  background-color: #202020;
  border: 1px solid rgba(255, 255, 255, 0.295);
  color: purple;
  padding: .7em;
  font-size: 1em;
  cursor: pointer;
  border-radius: .5em;
  outline: none;
  float: right;
}
.extentionContainer{
  width: 100%;
}

.dropdown {
  float: right !important;
  position: relative;
  display: flex;
  justify-content: center;
}

.dropdownContent {
  transform: translate(0,2.5em);
  display: none;
  position: absolute;
  background-color: rgb(219, 219, 219);
  min-width: 6em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: .5em;
  z-index: 1;
  padding: .5em;
  float: right;
}

.dropdownContent a, .dropdownContent input {
  color: black;
  background-color: white;
  outline: none;
  border: none;
  padding: .3em;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3em;
  border-radius: .3em;
  margin-bottom: .1em;
}

.dropdownContent input::placeholder{
  text-align: center;
}

.dropdownContent a p{
  padding: .5em !important;
}

.dropdownContent a:hover,.dropdownContent input:hover {background-color: #f1f1f1}



.dropdown:hover .dropdownContent {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgba(192, 192, 192, 0.5);
}

.wizzardWrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.wizzardContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #E9F0FF;
  padding: .5em;
  border-radius: .5em;
  background-color: #1e1e1e;
  color: #fff;

  height: 50%;
  width: 60%;
}

.wizzardContainer ul{
  width: 80%;
  height:20%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  color: black;
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
 }

 .wizzardContainer ul li{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10em;
  border: #6990F2 2px solid;
  width: 3em;
  height: 3em;
  z-index: 0;
  padding: 1.5em;
 }

 .wizardLine{
  width: 80%;
  z-index: 1;
  height: .1rem;
  position: relative;
  color: black;
  transition: 1s;
  background: linear-gradient(to left, rgb(228, 228, 228) 50%, #6990F2 50%) right;
  background-size: 200%;
  transition: 1s ease-out;
}

.activeLine{
  transition: 1s;
  background-position: left;
  /*transition: all 1500ms cubic-bezier(0.290, 0.870, 0.160, 0.925);
  transition-timing-function: cubic-bezier(0.290, 0.870, 0.160, 0.925);*/
}


 .active{
  background-color: #6990F2 !important;
  color: white;
  transition: .5s;
  transition-delay: 1s;
 }

.wizardContent{
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
}

.inputContainer{
  display: flex;
  flex-direction: column;
  margin-bottom: .5em;
}

.wizardContent input{
  background-color: rgb(59, 59, 59);
  border-radius: .3em;
  font-size: 1em;
  color: rgb(255, 255, 255);
  outline: 0;
  padding: .3em;
  border: 0;
  width: 15em;
}

.wizardContentContainer{
  display: flex;
  color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.wizardButtonContainer{
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 80%;
}

.wizardButtonContainer button{
  background-color: #6990F2;
  border: 0;
  padding:  .5em 1em .5em 1em ;
}
.disabeldBtn{
  pointer-events: none;
  opacity: .7;
  user-select: none;
  background-color: gray !important;
}
.hidden{
  display: none;
}
.bumper{
  height: 1em;
}

.edditOff{
  width: 50%;
  overflow:visible;
  border: 1px solid transparent;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  outline: 0;
}
.edditOn{
  width: 50%;
  overflow:visible;
  border: 1px solid #404040;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  background-color: rgb(29, 29, 29);
  outline: 0;
  border-radius: .3em;
}

.descriptionOn{
  width: fit-content;
  border: 1px solid #404040;
  background-color: rgb(29, 29, 29);
  border-radius: .3em;
}
.descriptionOff{
  width: fit-content;
  border: 1px solid transparent;
  background-color: transparent;
}

.plus img{
  width: 100%;
  height: 100%;
}

.plusContainer{
  width: 60%;
  height: 4em;
  background-color: #202020;
  border-radius: .3em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em;
}

.plus{
  width: 3em;
  height: 3em;
  float: right;
  padding: .3em;
  background-color: #E9F0FF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .3em;
}
.plus:hover{
  opacity: .7;
}