.container {  display: grid;
    grid-template-columns: 4.5em 9em 6em;
    grid-template-rows: 2em 4em 5.2em 2em;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Subject title Time"
      "description description description"
      "upload upload upload"
      "Author . button";
      border: 1px solid white;
  }
  
  .description { grid-area: description; }
  
  .title { grid-area: title; }
  
  .upload { grid-area: upload; }
  
  .Author { grid-area: Author; }
  
  .button { grid-area: button; }
  
  .Time { grid-area: Time; }
  
  .Subject { grid-area: Subject; }
  