.assignmentcontainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
}

.assignmentcard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  background-color: var(--background_1);
  border-radius: 1em;
  margin-bottom: 1em;

}

.assignmentcard:hover {
  background-color: var(--background_2);
  cursor: pointer;
}

.editcontainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.assignmenthead {
  text-align: left;
  width: 100%;
  margin-left: 2em;
  padding: 0.5em;
  padding-top: 0;
}

.assignmentbody {
  padding: 0;
}

.assignmentfoot {
  text-align: right !important;
  width: 100%;
  margin-right: 2em;
  padding: .3em;
}



.instructionHeader{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.instructionHeader > div{
  width: 70%;
}
.instructionHeader > div > *{
  margin: 0;
  margin-bottom: .3em;
}

.instructionWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;
}

.instructionContainer{
  width: 70%;
  border-radius: .7em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  /*gap?*/
}

.uploadfileWrapper{
  margin-top: 1.3em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;
}


.uploadfileWrapper > p{
  margin: 0;
  opacity: .6;
}
.uploadfileWrapper > h3{
  margin: .3em;
  opacity: .6;
  margin-top: 3em;
}
.uploadfileContainer{
  width: 70%;
  border-radius: .7em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.uploadfileheader{
  width: 70%;
}

#uploadFileNotification{
  background-color: red;
}

.descriptionContainer{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;
}

.description {
  width: 60%;
  margin-left: 20%;
  padding: 1em;
  border-radius: 1em;
  font-size: .9em;
  background-color: var(--background_1);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.description > input {
  padding: .3em;
  margin-top: .8em;
  margin-bottom: .8em;
  outline: none;
}

.fileuploadcontainer {
  width: 100vw;
  height: 40vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.editButton {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 2em;
}

.editButton > div {
  width: 70%;
}

.edithead {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.editheadContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--background);
}

.edithead > input {
  font-size: 2em;
  margin-top: .5em;
  margin-bottom: .5em;
  width: 100%;
}

.edithead > p {
  color: var(--color_countdown_running);
}


.wrapper {
  width: 45%;
  background: var(--background_1);
  color: #fff;
  border-radius: 1em;
  padding: 2em;
}

.wrapper:hover {
  background-color: var(--background_2);
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.extentionWrapper {
  display: flex;
  justify-content: right;
  width: 100%;
  height: 2.8em;
  padding: .5em .5em .5em 0;
}

.wrapper > header {
  color: var(--color_main);
  font-weight: 600;
  font-size: 1.6em;
  text-align: center;
}

.fileinput {
  cursor: pointer;
  margin: 1em 0;
  border-radius: .5em;
  border: 2px dashed var(--color_main);
  height: 10em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.fileinput > label {
  color: rgb(255, 255, 255);
  opacity: 0.5;
}

.uploadfieldcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.activedrag {
  background-color: var(--background_3);
  color: #fff;
}


.cancelbutton {
  background-color: transparent;
  float: right;
  border-radius: 100%;

}

.cancelbutton:hover {
  background-color: #4040405b;
  order: 2;
}

.filelistitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3em;
  background-color: var(--background_1);
  padding: .5em;
}

.filelistitem_close {
  animation-name: filelistitem_close;
  animation: filelistitem_close .5s forwards;
}

@keyframes filelistitem_close {
  from {
    scale: 1;
  }

  to {
    scale: 0;
  }
}

.description_editbtn {
  border-radius: .5em;
  border: 1px solid black;
  width: 10%;
}

.fiesupload_uploadbtn {
  float: right !important;
}

.fileListContainer > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
}

.fileListWrapper {
  display: flex;
  justify-content: center;
}

.descriptionSection {
  border-bottom: 1px solid rgb(0, 0, 0, .3);
}

.CreationContainer{
  width: 100%;
  height: 100vh;
  margin-top: 3em;
  display: flex;
  justify-content: center;
}

.dropbtn {
  background-color: var(--background_1);
  border: 1px solid var(--background_5);
  color: var(--color_main);
  padding: .7em;
  font-size: 1em;
  cursor: pointer;
  border-radius: .5em;
  outline: none;
  float: right;
}

.extentionContainer {
  width: 100%;
}

.dropdown {
  float: right !important;
  position: relative;
  display: flex;
  justify-content: center;
}

.dropdownContent {
  transform: translate(0, 2.5em);
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 6em;
  border-radius: .5em;
  z-index: 1;
  padding: .5em;
  float: right;
}

.dropdownContent > a,
.dropdownContent > input {
  color: white;
  background-color: var(--background_3);
  outline: none;
  border: none;
  padding: .3em;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3em;
  border-radius: .3em;
  margin-bottom: .1em;
}

.dropdownContent > input::placeholder {
  text-align: center;
  color: rgb(255, 255, 255, 0.5);
}

.dropdownContent > a p {
  padding: .5em !important;
}

.dropdownContent a:hover,
.dropdownContent input:hover {
  background-color: var(--background_4);
}



.dropdown:hover .dropdownContent {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--background_4);
}

.wizzardWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background);
}

.wizzardContainer {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: .5em;
  background-color: var(--background_1);
  color: #fff;
  min-width: var(--container_width);
  box-shadow: 0 -2px 10px rgb(7, 7, 7);
  height: fit-content;
}

.contenWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding: .5em;
}

.contenWrapper > ul {
  width: 80%;
  height: 20%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
  margin-bottom: 1.5em;
}

.wizardheading {
  margin: 0;
  padding-top: .1em;
  font-size: 3em;
}

.contenWrapper > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10em;
  border: var(--color_main) 2px solid;
  width: 3em;
  height: 3em;
  z-index: 0;
  padding: 1.5em;
}

.wizardLine {
  width: 100%;
  z-index: 1;
  height: .1rem;
  position: relative;
  color: black;
  transition: 1s;
  background: linear-gradient(to left, rgb(228, 228, 228) 50%, var(--color_main) 50%) right;
  background-size: 205%;
  transition: 1s ease-out;
}

.activeLine {
  transition: 1s;
  background-position: left;
  /*transition: all 1500ms cubic-bezier(0.290, 0.870, 0.160, 0.925);
  transition-timing-function: cubic-bezier(0.290, 0.870, 0.160, 0.925);*/
}

.filled {
  background-color: var(--color_main) !important;
  color: white;
  transition: .5s;
  transition-delay: 1s;
}

.wizardContent {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.inputContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1em;
}

.inputContainer > select{
  background-color: var(--background_2);
  border-radius: .3em;
  font-size: .9em;
  color: rgb(255, 255, 255);
  outline: 0;
  border: 0;
  padding: .3em;
  width: fit-content;
  min-width: 6em;
  font-size: larger;
}

.inputContainer> div > p{
  font-size: 1.3em !important;
}

.inputContainer> div > input[type="checkBox"]{
  width: 1.3em;
  height: 1.3em;
}

.inputContainer > select > option{
  width: 100%;
  background-color: var(--background_2);
  color: rgb(255, 255, 255);
  border: 0;
}

.inputContainer > div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5em;
}

.inputContainer > label , .inputContainer > div > p > span{
  color: var(--color_main) !important;
  font-size: 1em !important;
}

.inputContainer > div > p{
  margin: 0;
  word-wrap: break-word;
}

.dateWrapper{
  width: 100%;
}

.inputContainer > input[type="text"] {
  background-color: var(--background_2);
  border-radius: .3em;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  outline: 0;
  border: 0;
  padding: .3em;
  width: auto;
  min-width: 50%;
}

.wizardContent > label {
  font-size: .8em;
}


.wizardContentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  flex-direction: row;
  margin-bottom: auto;
  width: 80%;
  height: auto;
}

.wizardButtonContainer {
  margin-top: 1em;
  justify-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 80%;
  padding-bottom: 1em;
}

.disabeldBtn {
  pointer-events: none;
  opacity: .7;
  user-select: none;
  background-color: var(--disabled_filter) !important;
}

.hidden,
.hidden>*,
.hidden>*>* {
  display: none !important;
  pointer-events: none;
  cursor: loading;
}


.bumper {
  height: 1em;
}

.edditOff {
  width: 50%;
  overflow: visible;
  border: 1px solid transparent;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  outline: 0;
  text-align: center;
}

.edditOn {
  width: 50%;
  overflow: visible;
  border: 1px solid var(--background_2);
  display: inline;
  font-family: inherit;
  font-size: inherit;
  background-color: var(--background_1);
  outline: 0;
  border-radius: .3em;
}


.inputHeader {
  padding-right: 1em;
  display: flex;
  justify-content: space-between;
}

.fileExtention {
  border-radius: 1rem;
  background-color: var(--background);
  color: white;
  padding: .1em 1em .1em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: .2em;
  min-width: 2.5em;
  user-select: none;
}

.blur {
  filter: blur(2px) grayscale(.5);
  background-color: var(--disabled_filter);
}

.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99;
}

.loader > div {
  margin-top: 10%;
  width: 8em;
  height: 8em;
  border-radius: 10em;
  background-color: var(--background_4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader > div::after {
  content: '';
  background-color: var(--color_main);
  transition: 1s;
  width: 80%;
  height: 80%;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%);
}

.loading {
  cursor: wait;
}

.loading::after {
  animation: loading_start 1s forwards, 2s loading 1s infinite;
}

.dateContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: .5em;
  position: relative;
}

.finished {
  cursor: pointer;
}

.finished::after {
  animation: finish .5s forwards;
}

@keyframes loading_start {
  0% {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%);
  }

  50% {
    /*clip-path: polygon(50% 0%, 80% 10%, 100% 36%, 100% 64%, 80% 90%, 50% 100%, 20% 90%, 0 64%, 0 36%, 20% 10%);*/
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%);
  }

  100% {
    clip-path: polygon(50% 0%, 50% 49%, 50% 100%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%);
  }
}

@keyframes loading {
  0% {
    clip-path: polygon(50% 0%, 50% 49%, 50% 100%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%);
  }

  25% {
    clip-path: polygon(50% 0%, 100% 50%, 50% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%);
  }

  50% {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%);
  }

  75% {
    clip-path: polygon(50% 50%, 100% 50%, 50% 100%, 0 50%, 0 50%, 0 50%, 0 50%, 0 50%, 0 50%);
  }

  100% {
    clip-path: polygon(50% 0%, 50% 49%, 50% 100%, 0% 50%, 0 50%, 0 50%, 0 50%, 0 50%, 0 50%);
  }
}

@keyframes finish {
  0% {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%);
  }

  100% {
    /*clip-path: polygon(8% 56%, 44% 85%, 92% 14%, 100% 21%, 45% 100%, 0 63%, 0 63%, 0 63%, 0 63%);*/
    /*clip-path: polygon(43% 82%, 90% 12%, 100% 19%, 45% 100%, 0 62%, 9% 54%, 9% 54%, 9% 54%, 9% 54%);*/
    /*clip-path: polygon(90% 12%, 100% 19%, 45% 100%, 0 62%, 9% 54%, 9% 54%, 9% 54%, 9% 54%, 43% 82%);*/
    clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 75% 24%, 86% 38%, 86% 38%, 40% 78%, 40% 78%, 15% 50%);
  }
}

.chekBoxContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
}

.chekBoxContainer > input[type="checkbox"] {
  width: auto;
}

.chekBoxContainer > p {
  width: max-content;

}

.descriptionExpander {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
  border-radius: .2em;
  padding: .5em;
}

.seperator {
  width: 100% !important;
  height: 1px !important;
  background-color: var(--background_4);
}

.descriptionExpander > p {
  margin: 0;
  padding: .2em;
}

.descriptionExpander > img {
  fill: white;
  color: #fff;
  width: 1.5em;
}

.descriptionInputContainer {
  border-top: 1px solid var(--background_4);
  background-color: var(--background_2);
  width: 100%;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em;
  padding: .3em;
  min-height: 2em !important;
  gap: .5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.descriptionInputContainer > input {
  width: 100%;
  border: 1px solid transparent;
  border-radius: .2em;
  font-size: large;
  padding: .3em;
}




.descriptionOn {
  border: 1px solid var(--background_3) !important;
  background-color: var(--background_2) !important;
  border-radius: .3em;
}

.descriptionOff {
  border: 1px solid transparent;
  background-color: transparent;
  background-color: transparent !important;
  outline: none;
}

.descriptionExpander>* {
  user-select: none;
}

.uploadFileContainer {
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uploadFileContainer > table {
  margin-top: 2em;
  width: 60%;
  text-align: left;
  border-collapse: collapse;
  border-radius: .5em !important;
}

.uploadFileContainer > table th {
  padding: 1em 0 1em 0;
}

.uploadFileContainer > table th,
.uploadFileContainer > table td {
  border-top: 1px solid var(--background_3);
  border-bottom: 1px solid var(--background_3);
  padding-left: .5em;
}

.uploadFileContainer > table > tr:hover {
  background-color: var(--background_2) !important;
}

.fileDisplayContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.filesExpander {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: .3em;
  margin-bottom: .2em;
}

.filesExpander p {
  margin: 0;
}

.filesWrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: .3em;
  background-color: var(--background_1);
  padding: .5em;
}

.filesWrapper:hover {
  background-color: var(--background_2);
}

.countdownContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 .3em 0 .3em;
  flex-wrap: nowrap;
}

.countdownContainer > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  border-top: 1px solid var(--background_3);
  border-bottom: 1px solid var(--background_3);
  margin-bottom: 1em;

}

.markdownContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.assignmentheader{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &>button{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: .3em;
    border: 1px solid var(--background_5);
    margin: .3em 0;
    padding: .5em .8em;
    cursor: pointer;

    &:hover{
        filter: brightness(1.2);
    }

    &>p{
        margin: 0;
        width: fit-content;
        font-size: larger;
    }
    
}


  &>div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .5em;
  width: 70%;

  &>input[type="text"]{
      width: 100%;
      height: 2em;
      border-radius: .2em;
      border: none;
      padding: .5em .8em;
      margin: .3em 0;
      background-color: var(--background_1);
      color: white;
      font-size: larger;
      outline: none;

      &:hover{
          filter: brightness(1.2);
      }

      &:focus{
          filter: brightness(1.2);
          border-bottom: 1px solid var(--color_main);
      }
  }

  &>button{
      background-color: var(--background_1);
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: .2em;
      height: 2em;

      &:hover{
          filter: brightness(1.2);
      }
  }
  }
}

.assignmentCardsContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}