.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    // screen height - navbar height
    height: calc(99vh - var(--navbar_height));
    margin-bottom: 1em;
    margin-top: .6em;
}

.navBar{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    background-color: var(--background_1);
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;

    &>div:first-child{
        &>h2{
            margin: 0;
            padding: .5em;
            color: white;
        }
    }

    @media screen and (max-width: 800px) {
        width: fit-content;
        &>div:first-child{
            &>h2{
                display: none;
            }
        }
    }
}

.navbarHead{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    & img{
        height: 2em;
        width: 2em;
        margin: .2em;
        padding: .3em;
        cursor: pointer;
        border-radius: .3em;
        &:hover{
            background-color: var(--background_3);
        }
    }

    &>*{
        user-select: none;
    }
}

.navbarHeading{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: .3em;
    padding-right: .8em;

    &>button{
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: .3em;
        border: 1px solid var(--background_5);
        margin: .3em 0;
        padding: .3em .5em;
        cursor: pointer;

        &:hover{
            background-color: var(--background_2);
        }

        &>p{
            margin: 0;
            width: fit-content;
            font-size: large;
        }
    }

    @media screen and (max-width: 800px) {
        margin-top: .5em;
        &>button{
            width: 80%;
            background-color: transparent;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: .3em;
            border: 1px solid var(--background_5);
            padding: .3em;
            &>p{
                appearance: none;
                mask: url("/add.svg") no-repeat center;
                width: 1em;
                height: 1em;
                background-color: white;
            }
        }
    }

}


.searchContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-top: .5em;
    padding-right: .5em;

    &> input{
        width: 100%;
        height: 2.5em;
        padding: .8em;
        border-radius: .3em;
        border: none;
        outline: none;
        font-size: small;

        &:focus {
            border-bottom: 1px solid var(--color_main) ;
        }
    }

    @media screen and (max-width: 800px) {
        display: none;
    }
}

.ChatroomContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--background);
}

.navbarBody{
    display: flex;
    flex-direction: column;
    align-items:  center;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    gap: .3em;
    padding-top: .5em;

    scrollbar-width: thin;
    scrollbar-color: var(--background_2) var(--background_1);
    &::-webkit-scrollbar{
        width: .5em;
    }
    &::-webkit-scrollbar-track{
        background-color: var(--background_1);
    }
    &::-webkit-scrollbar-thumb{
        background-color: var(--background_2);
        border-radius: .5em;
    }
    &::-webkit-scrollbar-thumb:hover{
        background-color: var(--background_4);
    }


}

.newChatDialog{
    @media screen and (max-height: 800px) {
        font-size: small;
        &>div{
            &>h2{
                font-size: small !important;
            }
            &>input{
                font-size: small !important;
            }
            &>textarea{
                font-size: small!important;
            }
        }
    }

    position: absolute;
    left: 50%;
    transform: translate(-46%, 0);
    z-index: 100;
    width: 50%;
    border: none;
    border-radius: .5rem;
    background-color: var(--background_2);

    @media screen and (max-width: 800px) {
        top: 50%;
        left: 50%;
        transform: translate(-67%, -40%);
    }

    &>div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .5em;
        width: 100%;

        &>input{
            width: 100%;
            height: 2.5em;
            padding: .8em;
            border-radius: .3em;
            border: none;
            outline: none;
            font-size: large;
    
            &:focus {
                border-bottom: 1px solid var(--color_main) ;
            }
        }
    
        &>textarea{
            width: 100%;
            height: 5em;
            padding: .8em;
            border-radius: .3em;
            border: none;
            outline: none;
            font-size: large;
            resize: none;
    
            &:focus {
                border-bottom: 1px solid var(--color_main) ;
            }
        }
    
    
        &>h2{
            width: 100%;
            text-align: center;
            margin-top: .2em;
        }

    
    }

    

}

.newChatDialogButtonArray{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
}

.memberlist{
    @media screen and (max-height: 800px) {
        font-size: small;
        min-height: 5em;
        max-height: 15em;
    }
    height: 15em;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: .5em;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.memberlistItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em;
    border-radius: .3em;
    width: 100%;
    background-color: var(--background_1);
    padding-left: 1em;
    cursor: pointer;
    &:hover{
        filter: brightness(120%);
    }

    &>button{
        width: 2em;
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 2em !important;
        min-height: 2em !important;
    }
}

.memberSearchbar{
    margin-top: .8em;
}