.wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &>*{
        user-select: none;
    }

    & > div{
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: .2em;
        border-radius: .3em;
        position: relative;

        & > img{
            width: 2.8em;
            height: 2.8em;
            margin: .5em;
            
            border-radius: 10em;
        }



        

        & .body{
            max-width: 65%;
            flex: 1;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            & > p:first-child{
                font-weight: bold;
            }
            & > p{
                overflow: hidden;
                margin: 0;
                text-overflow: ellipsis;
            }
        }

        @media screen and (max-width: 1300px) {
            & > img{
              width: 1.8em;
              height: 1.8em;
            }

            & > .body{
                max-width: 40%;
            }
        }

        @media screen and (max-width: 800px) {
            width: fit-content;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            &>div:nth-child(2){
              display: none !important;
            }

            &>div:last-child{
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                display: flex;
                &>p{
                    background-color: transparent !important;
                }

            }

            & > img{
                width: 2em;
                height: 2em;
            }
        }

        & .info{
            display: flex;
            flex-direction: column;
            margin-bottom: auto;
            justify-content: flex-start;
            align-items: flex-start;

            & > .date{
                opacity: .5;
                margin: 0;
                font-size: smaller;
                padding: .2em 0;

                @media screen and (max-width: 800px) {
                    display: none;
                }
            }

            & > .unreadMessages{
                margin: 0;
                font-size: smaller;
                padding: .2em .3em;
                background-color: var(--color_main);
                color: white;
                border-radius: 10em;
                padding: .2em .5em;
                margin: .2em;
            }

        }

        &:hover{
            background-color: var(--background_2);
            filter: brightness(1.1);
        }
    }
}

.active{
    background-color: var(--background_3) !important;
}
.defaultProfile{
    background-color: var(--color_main);
  padding: 0.3em;
}

.profilePic{
    width: 2.8em;
    height: 2.8em;
    margin: .5em;
    border-radius: 50%;
    background-color: var(--color_main);
    display: flex;
    justify-content: center;
    align-items: center;
}