/*testing*/
.datepickerTestingContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 19, 19);
    width: 100vw;
    height: 100vh;
}

/*real :)*/
.dateContainer{
    display: grid;
    grid-template-columns: 3em 3em 3em 3em 3em 3em 3em;
    grid-template-rows: 3em 3em 3em 3em 3em 3em;
    width: 25em;
    height:20em;
    color: black;
    text-align: center;
    background-color: transparent !important;
    justify-content: center;
}

.datepickerItem{
    background-color: transparent !important;
    border-top: 1px solid rgb(0, 0, 0,0.3);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.datepickerItem p{
    border-radius: 100em;
    padding: 1em;
    width: 50%;
    height: 50%;
    font-size: .8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dateHeader svg{
    border-radius: 100em;
}

.datepickerItem p:hover,.dateHeader svg:hover{
    background-color: rgb(233, 233, 233);
}

.container{
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: .5em;
}

.container h2{
    padding: 0;
}
.otherMonth{
    color: rgb(0, 0, 0,.3);
    opacity: .7;
}
.currMonth p{
    background-color: purple !important;
    color: white;
}
.dateHeader{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.dateHeader img{
    border-radius: 10em;
    background-color: gray;
}
.unfocusedInput{
    background-color: transparent;
    color: black;
    padding: .5em;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
    width: fit-content;
}