/*testing*/
.datepickerTestingContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 19, 19);
    width: 100vw;
    height: 100vh;
}

/*real :)*/
.dateContainer{
    display: grid;
    grid-template-columns: 3em 3em 3em 3em 3em 3em 3em;
    grid-template-rows: 3em 3em 3em 3em 3em 3em;
    width: 25em;
    height:20em;
    color: black;
    text-align: center;
    background-color: transparent !important;
    
}

.datepickerItem{
    background-color: transparent !important;
    border-top: 1px solid rgb(0, 0, 0,0.3);
    text-align: center;
    transform: translate(70%,50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.datepickerItem p{
    border-radius: 100em;
    padding: 1em;
    width: 50%;
    height: 50%;
    font-size: .8em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.datepickerItem p:hover{
    background-color: rgb(233, 233, 233);
}

.container{
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: .5em;
}

.container h2{
    padding: 0;
}
.otherMonth{
    color: rgb(0, 0, 0,.3);
    opacity: .5;
  }