.dialog_background {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.514);
    z-index: 10000;
    display: flex !important;
    justify-content: center;
    align-items: center;
    animation: appear_opacity 0.3s;
}

@keyframes appear_opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes appear_scale {
    from {
        transform: scale(0.7);
    }
    to {
        transform: scale(1);
    }
}

.invisible {
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    animation: makeInvisible 0s linear 0.3s;
}

@keyframes makeInvisible {
    100% {
        overflow: hidden;
        height: 0;
        display: none;
    }
}

.invisible > .dialog {
    transform: scale(0.7);
    transition: 0.3s;
}

.dialog_background > .dialog {
    background-color: var(--background);
    border-radius: .5em;
    min-width: 30em;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    z-index: 10001;
    justify-content: space-between;
    overflow: hidden;
    animation: appear_scale 0.3s;
}

.dialog_background > .dialog > .dialog_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.dialog_background > .dialog > .dialog_title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding: 0.3em;
}

.dialog_background > .dialog > .dialog_content {
    padding: 0 1em 1em 1em;
}

.dialog_background > .dialog > .dialog_buttons > button {
    border-radius: .4em;
    border: none;
    cursor: pointer;
    color: black;
    transition: 0.2s;
    padding: 0.5em 1em;
    background-color: white;
}

.dialog_background > .dialog > .dialog_buttons > button:hover {
    scale: 1.05;
}

.dialog_background > .dialog > .dialog_buttons > button:focus {
    scale: .95;
}

.dialog_background > .dialog > .dialog_buttons > :nth-child(1) {
    margin-right: 1em;
}
