.Cardcontainer {
    padding: .4em .8em;
    border-radius: .5em;
    gap: .3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background_2);
    filter: brightness(0.9);
}

.Cardcontainer p {
    margin: 0;
    color: var(--color_link);
}

.Cardcontainer:hover p{
    text-decoration: underline 1px;
}

.Cardcontainer:hover {
    cursor: pointer;
    filter: brightness(130%);
}

.Listcontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.ListContentcontainer {
    position: relative;
    width: 100%;
    vertical-align: middle;
    border-radius: .2em;

    & * {
        display: inline-block;
        margin: 0;
    }

    & p {
        color: var(--color_link);
    }
}

.ListContentcontainer * {
    vertical-align: middle;
}

.ListContentcontainer:hover {
    background-color: var(--background_4);

    & p {
        text-decoration: underline 1px;
    }
}

.ListContentcontainer p {
    margin-left: .5em;
}

.deletContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: .2em;
    border-radius: 10em;
    width: fit-content;
}

.deletContainer:hover {
    background-color: rgba(255, 255, 255, 0.205);
}