.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 30%;
    width: 100%;
    bottom: 0;
    background-color: var(--color_main);

    & > div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33%;
    }
}