.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    bottom: 0;
    position: relative;
    margin-top: 1em;
    background-color: rgb(46, 46, 46);

    & > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 33%;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    & > span{
        height: 9vh;
        width: 1px;
        background-color: white;
        align-self: center;
    }
}