.outercontainer{
    padding: 2rem 0 2rem 0;
    background-color: rgb(46, 46, 46);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    bottom: 0;
    background-color: white;
    width: 100vw;

    & > div{

        background-color: rgb(46, 46, 46);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 30vw;
        
        &:not(:last-child) {
            margin-right: 0.05rem;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}