:root {
  --color_purple: #59097b;
  --background: rgb(17, 17, 17);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: var(--background);
  }
}

#dev_info {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 1rem 0.5rem 0;
  background: transparent;
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
  color: white;
  z-index: 9999;
}

.main_container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  display: flex;
  flex-grow : 1;
}