.container{
    display: flex; 
    flex-direction: row;
    gap: 2rem;
    width: 90%;
    margin: 1rem;
    padding: 1rem 2rem;
    align-items: left;
    justify-content: left;
    border-radius: 1rem;

    & > div:first-child{
        padding: .5rem;
        width: 30%;
        background-color: var(--background_1);
        border-radius: .3rem;

        & > h1{
            text-align: center;
        }

        & > h2{
            padding-left: 1rem;
        }

        & > p{
            padding-left: 1rem;
        }

        & > div{
            height: 15rem;
            overflow-y: scroll;

            & > div{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: .5rem;
                margin: .5rem;
                border-radius: .3rem;
                gap: .5rem;
                background-color: var(--background_2);

                & > img{
                    width: 10%;
                }

                & > p{
                    width: 80%;
                }
            }
        }
    }

    & > div:last-child(){
        background-color: green;
    }
}