.container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 80vh;
    padding-top: 2em;
    padding-bottom: 2em;
    flex-wrap: wrap;
    gap: 2em;
    width: 70%;
}

.indexContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    padding-top: 2em;
    padding-bottom: 2em;
}


.card{
    width: 20em;
    height: 13em;
    background-color: var(--background_1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: .5em;
    transition: transform .2s linear;

    &:hover{
        transform: scale(1.05);
    }
}

.assignment{
    //#828282
    position: relative;
    background-image: url("/assignment_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease-in-out;
    animation: backgroundAnimation 0.3s ease-in-out forwards;

    &:hover{
        animation: none;
        background-image: none;
    }

    &::after,&::before{
        background-image: url("/assignment_icon.svg");
        background-repeat: no-repeat;
        content:'';
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -10;
        
        transform: translate(0, 0) rotate(0deg);
        transition: all .3s ease-out;
    }

    &:hover::after{
        opacity: 0.5;
        
        transform: translate(-25%, 0) rotate(-20deg) scale(0.8);
    }

    &:hover::before{
        opacity: 0.5;
        
        transform: translate(25%, 0) rotate(20deg) scale(0.8);
    }
}

.summary{
    //#828282
    background-image: url("/graduate_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease-in-out;
    animation: backgroundAnimation 0.3s ease-in-out forwards;
    position: relative;

    &:hover{
        animation: none;
        background-image: none;
    }

    &::after,&::before{
        background-image: url("/graduate_icon.svg");
        background-repeat: no-repeat;
        content:'';
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -10;
        
        transform: translate(0, 0) rotate(0deg);
        transition: all .3s ease-out;
    }

    &:hover::after{
        opacity: 0.5;
        
        transform: translate(-25%, 0) rotate(-20deg) scale(0.8);
    }

    &:hover::before{
        opacity: 0.5;
        
        transform: translate(25%, 0) rotate(20deg) scale(0.8);
    }
}

.chat{
    //#828282
    background-image: url("/chat_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease-in-out;
    animation: backgroundAnimation 0.3s ease-in-out forwards;
    position: relative;

    &:hover{
        animation: none;
        background-image: none;
    }

    &::after,&::before{
        background-image: url("/chat_icon.svg");
        background-repeat: no-repeat;
        content:'';
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -10;
        
        transform: translate(0, 0) rotate(0deg);
        transition: all .3s ease-out;
    }

    &:hover::after{
        opacity: 0.5;
        
        transform: translate(-25%, 0) rotate(-20deg) scale(0.8);
    }

    &:hover::before{
        opacity: 0.5;
        
        transform: translate(25%, 0) rotate(20deg) scale(0.8);
    }
}

.polls{
    //#828282
    background-image: url("/poll_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease-in-out;
    animation: backgroundAnimation 0.3s ease-in-out forwards;
    position: relative;

    &:hover{
        animation: none;
        background-image: none;
    }

    &::after,&::before{
        background-image: url("/poll_icon.svg");
        background-repeat: no-repeat;
        content:'';
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -10;
        
        transform: translate(0, 0) rotate(0deg);
        transition: all .3s ease-out;
    }

    &:hover::after{
        opacity: 0.5;
        
        transform: translate(-25%, 0) rotate(-20deg) scale(0.8);
    }

    &:hover::before{
        opacity: 0.5;
        
        transform: translate(25%, 0) rotate(20deg) scale(0.8);
    }
}


@keyframes backgroundAnimation {
    0% {
        background-image: none;
    }

    99% {
        background-image: none;
    }

    100% {

    }
}

.indexAssignmentheader{
    &>div:first-child{
        margin-bottom: 2em !important;
    }
}