.test{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.head{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    &> div > input{
        width: 3em;
        height: 3em;
        cursor: pointer;
        border-radius: .2em;
        margin-bottom: .2em;
        background-color: white;
        appearance: none;
        mask: url(/display.svg) no-repeat center;

        &:checked{
            background-color: var(--color_main);
        }
    }


}

.img{
    cursor: pointer;
    border-radius: .2em;
    margin-bottom: .2em;
    position: relative;
    --tooltip_color: var(--background_3);

    &:hover{
        background-color: var(--background_1);
        &>span{
            visibility: visible;
        }
    }

    &>div{
        width: 3em;
        height: 3em;
        background-color: white;
    }

}

.imgHeading{
    mask: url(/heading.svg) no-repeat center;
}

.imgCode{
    mask: url(/code.svg) no-repeat center;
}

.imgLink{
    mask: url(/link.svg) no-repeat center;
}

.imgBlockQuote{
    mask: url(/blockQuote.svg) no-repeat center;
}

.imgBold{
    mask: url(/FormatBold.svg) no-repeat center;
}

.imgItalic{
    mask: url(/formatItalic.svg) no-repeat center;
}

.imgBulletpoint{
    mask: url(/ul.svg) no-repeat center;
}

.imgcheckBox{
    mask: url(/tl.svg) no-repeat center;
}

.content{
    width: 100%;

    &> textarea {
        height: 15em;
        width: 100%;
        resize: none;
        border: 1px solid #ccc;
        border-radius: .5em;
        padding: .5em;
        overflow: auto;
    }
}