.testContainer{
    width: 100%;
    height: 100%;
}

.container{
    min-width: 4em;
    min-height: 3em;
    max-width: 50%;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background_3);
    position: relative;
    border-radius: 0.5em;
    padding: .4em;
    font-size: large;
}

.wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    gap: .5em;
    
    &:hover > .popUp{
        display: flex;
    }
}
.wrapRight{
    justify-content: flex-end;

    & > .popUp{
        transform: scaleX(-1);
    }

}
.wrapLeft{
    justify-content: flex-start;
}

.ownMessage{
    align-self: flex-end;
    background-color: var(--color_main)!important;

    & > .fileContainer{
        background-color: var(--color_main_dark)!important;
        

        & > div > div:hover{
            background-color: var(--color_main_dark)!important;
            filter: brightness(0.8);
        }
    }
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-bottom: .4em;

    &>p{
        margin: 0;
        text-overflow: ellipsis;
        font-size: .9em;
        font-weight: bold;
    }
}

.fileContainer{
    border-radius: .5em;
    margin: .8em 0;
    min-width: 20em;
    width: 100%;
    background-color: var(--background_1);

    & > div > div:hover{
        background-color: var(--background_1)!important;
        filter: brightness(.8);
    }

}

.body{
    display: flex;
    flex-direction: column;
    width: 100%;

    &>p{
        margin: 0;
        word-wrap: break-word;
        text-align: left;
    }
}

.foot{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    &>p{
        margin: 0;
        opacity: 0.6;
        font-size: .7em;
    }
}

.popUp{

    opacity: 0.8;
    //display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &>div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 100%;

        &:hover{
            background-color: var(--background_hover);
        }
    }
    & > div > button{
        appearance: none;
        background-color: white;
        width: 2em;
        height: 2em;
        border: none;
        padding: 0;
        mask: url(/reply.svg) no-repeat center;

        &:hover{
            opacity: 1;
            filter: brightness(1.2);
        }
    }
}

.answer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .2em;
    margin-top: .5em;
    background-color: var(--background_1);
    border-radius: .5em;
    border-top: 2px solid var(--answerColor);
    cursor: pointer;

    &:hover{
        filter: brightness(.8);
    }

    &> div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: .2em;
    }
}

.answerHead{
    width: 99%;

    &>*{
        margin: 0;
        font-weight: bold;
    }
}

.answerBody{
    width: 95%;
    margin-top: .2em;
    &>*{
        margin: 0;
    }
}

