.container{
    background-color: rgb(101, 0, 101);;
    display: flex;
    height: 2.5em;
}

.container a:link{
    display: flex;
    justify-content: center;
    height: 2.5em;
    width: 6em;
    align-items: center;
    transition: 0.25s ease-out;
}

.underline{
    position: relative;
    height: 0.1em;
    width:  2.5em;
    background-color: white;
    transform:translate(var(--transform),-0.6em);
    margin-left: var(--line);
    transition: 0.25s ease-in;
}

.navactive{
    
}


/*.container_right{
    background-color: rgb(101, 0, 101);;
    display: flex;
    width:100vw;
    height:7vh;
    justify-content:right;
}*/