<<<<<<< HEAD:styles/navbar.module.css
.container{
    background-color: var(--color_main);
=======
.container {
    background-color: rgb(101, 0, 101);
    ;
>>>>>>> origin/master:styles/Navbar.module.css
    display: flex;
    height: 2.5em;
}

.container a:link {
    display: flex;
    justify-content: center;
<<<<<<< HEAD:styles/navbar.module.css
    height: 2.5em;
    width: 6em;
    align-items: center;
    transition: 0.25s ease-out;
=======
    padding: 0 1em 0 1em;
    align-items: center;
}

.navactive {
    background-color: red !important;
>>>>>>> origin/master:styles/Navbar.module.css
}

.underline {
    position: relative;
    height: 0.1em;
    width: 2.5em;
    background-color: white;
<<<<<<< HEAD:styles/navbar.module.css
    transform:translate(var(--transform),-0.6em);
    margin-left: var(--line);
    transition: 0.25s ease-in;
=======
    transform: translate(1.3em, -0.6em);
>>>>>>> origin/master:styles/Navbar.module.css
}

.navactive{
    
}


/*.container_right{
    background-color: rgb(101, 0, 101);;
    display: flex;
    width:100vw;
    height:7vh;
    justify-content:right;
}*/