.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1em;
    width: 100%;

}

.enableAuthOtp{
    padding-top: 0em !important;
    &>input{
        font-size: 2.5em !important;
    }
}

.generalWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10%;
    padding-bottom: 2em;
    padding-top: 2em;
}

.passwordContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 3em;
    padding: 0 20%;
    &>label{
        width: 100%;
        margin-bottom: .1em;
    }

    &>div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: .3em;
        &>input{
            width: 100%;
            font-size: large;
            padding: .5em;
            border-radius: .3em;
            border: 2px solid transparent;
            background-color: rgb(36, 34, 34);
            color: white;
            outline: none;
            transition: all .2s linear;
            &:focus{
                border: 2px solid white;
                border-radius: .3em;
            }
        }
        &>button{
            height: 2.5em;
            width: fit-content;
            padding: 0 1.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            &>span{
                pointer-events: none;
            }
            &::after{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 20px;
                height: 20px;
                border: 2px solid transparent;
                border-top-color: white;
                border-radius: 50%;
                border-width: 2px;
                border-top-color: white;
                border-top-style: double;
                animation: spin 1s linear infinite;
                display: none;
            }
        }
    }

}

.wrapper{
    width: fit-content;
    padding-bottom: 2em;
    padding-top: 3em;
}

.failed{
    background-color: var(--color_red) !important;
}

.buttonContainer{
    padding-top: 1em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &>button{
        width: 100%;
        font-size: large;
        position: relative;
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: center;

        &:focus{
            outline: none;
            // focus style
            border: 2px solid white;
            border-radius: .3em;

        }
        &>span{
            pointer-events: none;
        }
        &::after{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
            border: 2px solid transparent;
            border-top-color: white;
            border-radius: 50%;
            border-width: 2px;
            border-top-color: white;
            border-top-style: double;
            animation: spin 1s linear infinite;
            display: none;
        }
        
    }


}

.qrCodeContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;

    &>button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6em;
        margin-top: .6em;
    }
}

.loading::after {
    display: block !important;
}

.errorLabel{
    color:var(--color_red);
    margin-top: .1em;
}




@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.header{
    width: 80%;
    display: inline;
    margin: 1em 0;
    vertical-align: middle;
    position: relative;

    &>*{
        display: inline;
        text-align: center;
        vertical-align: middle;
    }

    &>img{
        float: left;
        width: 3em;
        height:3em;
        transform: rotate(180deg);
        transition: all .2s linear;
        user-select: none;

        &:hover{
            filter: brightness(.7);
            cursor: pointer;
        }
    }

    &>h1{
        text-align: center;
        margin: auto 0;
        // center the text
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.otpcontainer{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.otpcontainer > input{
    width: 1.5em;
    font-size: 3em;
    padding: .1em;
    text-align: center;
    border-radius: .2em;
    color: rgb(255, 255, 255) !important;
    background-color: rgb(36, 34, 34);
    border: 0;
    outline: none !important;
    border-radius: .3em;
    margin: .2em;
    
    border: 2px solid transparent;
}
.otpcontainer > input:focus{
    border: 2px solid rgb(107, 1, 76);
    user-select: none;
    outline: none;
    color: transparent !important;
    text-shadow: 0 0 0 rgb(255, 255, 255);
}
.disabled{
    opacity: 0.5;
}
.space {
    margin-right: 1em !important;
}
