.otpcontainer{
    color: white;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    /*test*/
    padding-top: 5em;
    padding-bottom: 10em;
}

.otpcontainer > input{
    width: 1.5em;
    font-size: 3em;
    padding: .1em;
    text-align: center;
    border-radius: .2em;
    color: rgb(255, 255, 255) !important;
    background-color: rgb(36, 34, 34);
    border: 0;
    outline: none !important;
    border-radius: .3em;
    margin: .2em;
    
    border: 2px solid transparent;
}
.otpcontainer > input:focus{
    border: 2px solid rgb(107, 1, 76);
    user-select: none;
    outline: none;
    color: transparent !important;
    text-shadow: 0 0 0 rgb(255, 255, 255);
}
.disabled{
    opacity: 0.5;
}
.space {
    margin-right: 1em !important;
}
