.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1em;
    background-color: var(--cardColor);
    border-radius: .5em;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover{
        filter: brightness(1.1);
        scale: 1.01;
    }

    &>div:first-child{
        width: 100%;

        &>p{
            float: left;
            margin: 0;
            font-size: small;
            opacity: 0.5;

            &>span{
                font-weight: bold;
                &:hover{
                    opacity: 1 !important;
                    text-decoration: underline;
                }
            }
        }
    }

    &>div:nth-child(2){
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &>p{
            margin: 0;
            font-size: 1.5em;
            font-weight: bold;
        }
    }

    &>div:nth-child(3) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      
        &>div{
            width: 90%;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            &>p {
                text-align: center;
                margin: 0;
                font-size: small;
                opacity: 0.5;
                text-overflow: ellipsis;
                overflow: hidden;
                  white-space: nowrap;
              }
        } 
    }

    &>div:last-child{
        width: 99%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 1.3em;
        &>p{
            margin: 0;
            font-size: small;
        }
    }
      
      
}
.disabled{
    opacity: 0.5;
    cursor: default;
    pointer-events: none;

    &:hover{
        filter: brightness(1) !important;
        scale: 1 !important;
    }
}

.loading_skeleton {
    background: linear-gradient(to left, var(--background_4) 0%, var(--background_2) 50%, var(--background_4) 100%);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    background-size: 200% 100%;
    animation: loadingSkeleton 1.5s infinite linear;
  }
  
  @keyframes loadingSkeleton {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }

.loadingParagraph{
    height: 1.23em;
    width: 20%;
}

.loadingDescription{
    width: 100%;
}

.loadingTitle{
    width: 50%;
    height: 1.195em;
}

.loadingCountdown{
    width: 30%;
}