.container{
    width: 70vw;
    background-color: var(--background_4);
    border-radius: 1rem;
}

.picContainer{
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.infoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--background_2);
    border-radius: 0 0 1rem 1rem;

    & > div{
        display: flex;
        width: 100%;
        justify-content: center;
    }
}