.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic{
    background-color: rgb(46, 46, 46);
    height: 6em;
    width: 6em;
    margin-top: .5em;
    margin-bottom: .5em;
    border: .1em solid var(--color_main);
    border-radius: 6em;
}

.infos{ 
    height: 12em;
    width: 20.5em;
    padding: .7em 1em .9em 1em;
    display: flex;
    flex-direction: column;
    border: .1em solid var(--color_main);
    border-radius: 1em;
}

.infos label{
    border: .1em solid var(--color_main);
    border-radius: 1em;
    margin: 0 0 .125em 0;	
    padding: 0 0 0 .5em;
}

.infos button{
    background-color: black;
    margin-bottom: .5em;
    cursor: pointer;
    /*border: .1em solid var(--color_main);*/
    border-radius: 1em;
}

.infos input{
    border: .1em solid var(--color_main);
    border-radius: 1em;
    background-color: black;
}

.Link{
    border: .1em solid var(--color_main);
    border-radius: 1em;
    margin: 0 0 .125em 0;
    padding: 0 0 0 .5em;
}

.button{
    width: 50%;
    justify-self: center;
}

.userData{
    display: flex;
    flex-direction: line;
    gap: .5em;
    align-items: center;
}

.cancelbutton{
    background-color: transparent;
    float: right;
    border-radius: 100%;
    height: 100%;
    width: 10%;
    
  }
  
  .cancelbutton:hover{
    background-color: #4b49495b;
    order: 2;
  }

/*.fileUpload{
    position: absolute;
    overflow: hidden;
    
}*/