.container{
    width: 70vw;
    margin: 1rem;
    padding: 0 1rem 1rem 1rem;
    background-color: var(--background_1);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.picContainer{
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;

    & > img{
        padding: .5rem;
        background-color: var(--background);
        border-radius: 5rem;
    }
}

.wizard{
    position: absolute;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    border-radius: .5rem;
    background-color: var(--background_2);
    padding: 1rem;

    & > form{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 2rem;

        & > h1{
            margin-block-start: 1.5rem;
            margin-block-end: .5rem;
            text-align: center;
            cursor: default;
        }

        & > div:not(:last-child){
            display: flex;
            flex-direction: column;
            border-radius: 1rem;

            & > label{
                font-size: 1.1rem;
                padding: 0 0 .4rem .5rem;
            }

            & > p{
                margin: 0;
                padding: 0 0 .4rem 1rem;
                font-size: smaller;
                cursor: default;
            }

            & > input{
                border: none;
                outline: none;
                border-radius: .5rem;
                height: 3.5rem;
                padding-left: .5rem;
                font-size: 1.3rem;
            }
        }

        & > div:last-child{
            display: flex;
            justify-content: center;
            gap: 5%;

            & > input, button{
                background-color: var(--color_main);
                border: none;
                border-radius: .5rem;
                padding: .5rem;
                font-size: 1.5rem;
                width: 100%;
                cursor: pointer;

                &:hover{
                    filter: brightness(120%);
                }
            }
        }
    }
}

.infoContainer{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: left;
    gap: 5%;

    & > div:first-child{
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.8rem;

        & > div:first-child{
            display: flex;
            padding: .8rem;
            flex-direction: column;
            align-items: left;
            border-radius: 1rem;
            gap: .8rem;
            background-color: var(--background_3);

            & > div{
                background-color: var(--background_1);
                padding: .5rem;
                display: flex;
                flex-direction: column;
                border-radius: .5rem;
                //border-bottom: grey 1px solid;

                & > label{
                    padding: 0 0 0 .5rem;
                    font-size: .7rem;
                }

                & > p{
                    border-radius: .5rem;
                    margin: 0;
                    padding: 0 0 0 .5rem;
                    font-size: 1.5rem;
                    font-weight: 500;
                }

                & > p:hover, a:hover{
                    filter:contrast(1.2);
                    transition: .3s;
                }
            }
        }

        & > div:nth-child(2){
            padding: .8rem;
            border-radius: 1rem;
            background-color: var(--background_3);

            & > div{
                width: 100%;
                background-color: var(--background_1);
                padding: .5rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                border-radius: .5rem;
            }
        }
    }

    & > div:nth-child(2){
        display: flex;
        padding: .8rem;
        flex-direction: column;
        align-items: left;
        border-radius: 1rem;
        background-color: var(--background_3);
        width: 40%;
        gap: .8rem;

        & > div:last-child{
            border-radius: .5rem;
            padding: 0;
            border: none;
            background-color: transparent;
            & > button{
                border-radius: .5rem;
                padding: .5rem;
                font-size: 1.5rem;
                background-color: var(--background_3);
                width: 100%;
            }

            & > button:hover{
                background-color: var(--background_1);
            }
        }

        & > div:not(:last-child){
            width: 100%;
            display: grid;
            padding: 0 0 0 .5rem;
            grid-template-columns: 25% 50% 25%;
            row-gap: 0;
            border-radius: .5rem;
            background-color: var(--background_1);
            border: none;
            align-self: center;          

            & > img{
                height: 3rem;
                width: 3rem;
                padding: .25rem;
                border-radius: 1.5rem;
                grid-column:span 1;
                grid-row: span 2;
                align-self: center;
                background-color: var(--background_3);
            }

            & > a{
                justify-content: center;
                align-self: center;
                font-size: 1.5rem;
                padding: 0;
                grid-column: 2;
                grid-row: span 2;
            }

            & > p{
                font-size: .7rem;
                padding: 0 0 0 1rem;
                grid-column: 2;
                grid-row: 2;
            }

            & > button{
                grid-column: 3;
                grid-row: span 2;
                padding: 1.5rem 0 1.5rem 0;
                width: 75%;
                background-color: red;
                border: none;
                border-radius: 0 .5rem .5rem 0;
                justify-self: flex-end;

                &:hover{
                    background-color: rgb(244, 66, 66);
                }
            }
        }
    }
}