.registercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5em;
}

.registerform{
    background-color: #252424;
    padding: 2em;
    border-radius: 2em;
    padding-top: 0 !important;
}

.registerform > input[type=text],.registerform > input[type='password'] {
    margin: .5em;
    padding: 1em;
    background-color: rgb(52, 50, 50);
    outline: none !important;
    border: 0;
    border-radius: 100vw;
    min-width: 25em;
    margin-left: 0;
    border-bottom: 2px solid transparent;
    justify-content: center;
    vertical-align: middle;
    padding-top: 1.1em;
    
}
.registerform > input:hover {
    background-color: rgb(73, 71, 71);
}
.registerform > input:active {
    border-bottom: 2px solid rgb(63, 1, 54);
}
.registerform > input:focus {
    border-bottom: 2px solid rgb(63, 1, 54);
}

.registerform > label {
    text-align: left !important;
}
.registerform > h1 {
    text-align: center;
    margin-top: .3em;
}

.registerform > button {
    float: right;
    margin-right: .5em;
    background-color: black;
    color: white;
    border: 1px solid white;
}
.registerform > pre {
    color: red;
}
.error{
    border: 5px 
    solid red;
}