/*Test*/
.testContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

/*SummaryList*/
.listContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: .5em;
    margin-bottom: 2em;
}

.listHeader{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: .5em;
    background-color: var(--background_1);
    border-radius: .2em;
    user-select: none;

    & > p{
        font-size: 1.2em;
        font-weight: 600;
        margin-left: .5em;
        
    }

    & > img:hover{
       background-color: var(--background_2);
       opacity: .7;
       filter: brightness(120%);
    }

    & > img{
        width: 2.5em;
        height: 2.5em;
        border-radius: 10em;
        margin-right: .5em;
        border-radius: 10em;
        user-select: none;
        transition: transform 0.2s ease-in-out;
    }
}

.rotateExpandImage{
    transform: rotate(90deg);
}

.listHeader:hover{
    filter: brightness(120%);
}

.postContentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: .5em;

    & > *{
        opacity: 1;
        visibility: visible;
        transition: opacity .5s ease-in-out, visibility 0s linear 0s;
    }

    &>button{
        width: 60%;
        height: 3em;
        border-radius: .5em;
        border: 0;
        outline: 0;
        background-color: var(--color_main);
        color: white;
        font-size: 1em;
        font-weight: 600;
        cursor: pointer;
        transition: filter .2s ease-in-out;
    }
    &>button:hover{
        filter: brightness(120%);
    }
}

.hiddenElement{
    opacity: 0;
    visibility: hidden;
    display: none !important;
    transition: opacity .5s ease-in-out, visibility 0s linear .5s;
}
  

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

/*Post*/
.post{
    width: 60%;
    display: flex;
    flex-direction: column;
    border-radius: .5em;
    padding: .7em  .7em  .2em .7em;
    background-color: var(--background_1);
}

.post:hover{
    Filter: brightness(120%);
}

.postHeader{
    display: flex;
    align-items: flex-start;
}
.postHeader img{
    width: 3em;
    height: 3em;
    border-radius: 10em;
    margin-right: 1rem;
}

.postHeader span{
    float: right;
    font-size: .7em;
    opacity: .7;

    /*Not sure*/
    margin-top: .3em;
}

.post:hover .postHeader span{
    Filter: brightness(80%);
}

.postContent{
    display: flex;
    flex-direction: column;
}
.postContent > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .2em;
}

.postFooter{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.postFooter div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: .5em;
}

.postFooter img{
    border-radius: 10em;
    padding: .3em;
}

.postFooter img:hover{
    background-color: var(--background_2);
}